/* ここから下に記載していく */
.header{display:flex;
    justify-content: space-around;
    align-items: center;
}


ul.header__nav {
    display: flex;
}

.header__nav li{
    margin-left: 40px;


}
/* ここからメインビジュアル */
.mainvisual{
    height: 400px;
    /* background-color: aqua; */
    background: url(../img/mainbg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.mainvisual__title{
font-size: 30px;
font-weight: bold;
color: #fff;
text-align: center;
padding-top: 180px;

}
.mainvisual__subtitle{
    font-size: 30px;
font-weight: bold;
color: #fff;
text-align: center;
margin-top: 20px;


}
/* ここからアバウト */
.about{
    text-align: center;
    width: 60%;
    background-color: brown;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;

}

.about__title{
font-size: 30px;
font-family: bold;
color: burlywood;
margin-bottom: 20px;

}
.about__subtitle{
margin-bottom: 20px;
font-size: 20px;

}
.about__text{
margin-bottom: 20px;

}
/* ここからイメージエリア */
.imgBox{
    display: flex;
}
.imgBox p{
    width: 25%;
}
.imgBox p img {
    width: 100%;
}
/* ここからコース */
.course{
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 60px;
}
.course__title{
    font-size: 20px;
    font-family: bold;
    color: rgb(14, 13, 13);
    margin-bottom: 30px;
    margin-top: 60px;
}
.course__subtitle{
    margin-bottom: 10px;
    font-size: 16px;
    }
    .course__text{
    margin-bottom:60px;
    }